 <!-- teaser -->
 <div class="row ">
    <!--begin row -->
    <div class="col-12 text-center teaser">

        <h2 class="teasertext">een muntstuk voor <br>een zeefdruk.</h2>
    </div>

</div><!-- end row -->



<!--cijfers-->
<div class="row">
    <!--begin row -->
    <div class=" col-12 cijfers">

        <div class="row">
            <!--begin row 2-->
            <div class="col-4 text-center aquarell">
                <p class="cijfergroot">€972</p>
                <p class="cijfertekst">verzameld</p>
            </div>

            <div class="col-4 text-center aquarell">
                <p class="cijfergroot">46</p>
                <p class="cijfertekst">doneerders</p>
            </div>

            <div class="col-4 text-center aquarell">
                <p class="cijfergroot">528</p>
                <p class="cijfertekst">te gaan</p>

            </div>
        </div>
    </div>
</div><!-- end row -->