            <!-- teaser -->
            <div class="row ">
                <!--begin row -->
                <div class="col-12 text-center teaser">

                    <h2 class="teasertext"><span>een muntstuk voor een zeefdruk.</span></h2>
                </div>

            </div><!-- end row -->



            <!--cijfers-->
            <div class="row">
                <!--begin row -->
                <div class=" col-12 cijfers">

                    <div class="row">
                        <!--begin row 2-->
                        <div class="col-4 text-center aquarell">
                            <p class="cijfergroot">€2659</p>
                            <p class="cijfertekst">verzameld</p>
                        </div>

                        <div class="col-4 text-center aquarell">
                            <p class="cijfergroot">94</p>
                            <p class="cijfertekst">doneerders</p>
                        </div>

                        <div class="col-4 text-center aquarell">
                            <p class="cijfergroot">€214</p>
                            <p class="cijfertekst">te gaan</p>

                        </div>
                    </div>
                </div>
            </div><!-- end row -->



            <!-- speciale button -->
            <div class="row">
                <!--begin row -->
                <div class=" col-12 text-center">
                        <a href="steunons.html"><button class="buttonrood" href="#">Steun mabo</button> </a>
                </div>
            </div><!-- end row -->

