<!-- footer -->
<div class="container">
<div class="footer">
    <div class="row">
        <!--begin row -->

        <div class="col-12 col-md-4 text-center align-self-center order-md-2">
            <div>
                <img src="./foto/footer.png" class="mabologoft " alt="Responsive image">
            </div>
        </div>


        <div class="col-6 col-md-4 text-center align-self-center iconft">
            <a href="https://www.facebook.com/" target="blanc"> <i class="fab fa-facebook-f iconfooter"></i></a>
            <a href="https://www.instagram.com/ma.bo.design/" target="blanc"> <i class="fab fa-instagram iconfooter "></i></a>
            <a href="https://www.youtube.com/" target="blanc"> <i class="fab fa-youtube iconfooter"></i></a>
        </div>





        <div class="col-6 col-md-4 text-center align-self-center footergegevens order-md-3">
            <div>
                <div class="row">
                    <div class="col-12">
                        <a class="footer mail" href="mailto:mabo@gmail.com"> mabo@gmail.com</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <a class="telefoon" href="tel:0487 58 80 28">0487 58 80 28</a>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div>

</div><!-- einde container-->
</div>