<!--logo bovenaan mijn pagina-->
<div class="container">
<div class="mabologotest">
    <a href="index.html">
        <h1 class="mabologo "> mabo.</h1>
    </a>
</div>

<div class="animated slideInDown slow">
    <!-- navbar -->
    <div class="row">
        <!--begin row -->

        <div class="col-12 col-md-8">
            <nav class="navbar navbar-expand-sm navbar-light  ">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse fadeInDown" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item ">
                            <a class="nav-link" href="hetproject.html">het project</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="work.html">work</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="steunons.html">steun ons</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-12 col-md-4 d-flex justify-content-end ">
            <div class="d-none d-lg-block"><a href="https://www.facebook.com/" target="blanc"> <i class="fab fa-facebook-f iconlinks "></i>
                </a></div>
            <div class="d-none d-lg-block"><a href="https://www.instagram.com/ma.bo.design/" target="blanc">
                    <i class="fab fa-instagram iconlinks "></i>
                </a></div>
            <div class="d-none d-lg-block"><a href="https://www.youtube.com/" target="blanc"> <i class="fab fa-youtube iconlinks"></i>
                </a></div>

        </div>
    </div>
</div> <!-- end row -->
</div>